source /scripts/variables

echo "$(mysqladmin -u root -p"{{ mysql_root_password }}" flush-logs)"
flushLog=$(ls /var/log/mysql | grep mysql-bin.0 | tail -n 2 | head -1)
lastBackup=$(ls -t /backupsUbuntu/$year/$month/$week | head -1)
difference=$(find /var/www/html -type f -newer /backupsUbuntu/$year/$month/$week/$lastBackup -print0 | tar -cf /backupsUbuntu/$year/$month/$week/$time.tar -T - /var/log/mysql/$flushLog)

bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/$time.tar /backupsUbuntu/$year/$month/$week/$time.tar

echo "$difference, $lastBackup"
