source /scripts/variables

echo "$(rm /var/log/mysql/mysql-bin.*)"
echo "$(mysqldump -u root -p"{{ mysql_root_password }}" "{{ mysql_db }}" --flush-logs  > /tmp/mysqlWp_Full.sql)"
creatingTar=$(tar -cf /backupsUbuntu/$year/$month/$week/$timeFull.tar /var/www/html/* /tmp/mysqlWp_Full.sql)

bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/$timeFull.tar /backupsUbuntu/$year/$month/$week/$timeFull.tar

echo "$creatingTar, $(rm /tmp/mysqlWp_Full.sql)"

previousWeek=$(ls /backupsUbuntu/$year/$month -I $week)
rm -rf /backupsUbuntu/$year/$month/$previousWeek