source /scripts/variables

$(mysqldump -u root -p"{{ mysql_root_password }}" "{{ mysql_db }}" > /tmp/mysqlWp_Full.sql)
creatingTar=$(tar -cf /backupsUbuntu/$year/$month/first.tar /var/www/html/* /tmp/mysqlWp_Full.sql)
gzip /backupsUbuntu/$year/$month/first.tar

exist=$(ls /backupsUbuntu/$year/$month/$week | grep first.tar.gz)
if [ $exist -ne null ]
then
  bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/first.tar.gz /backupsUbuntu/$year/$month/$week/first.tar.gz
else
  gzip /backupsUbuntu/$year/$month/$week/first.tar
  
  bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/first.tar.gz /backupsUbuntu/$year/$month/$week/first.tar.gz
fi

$creatingTar
$(rm /tmp/mysqlWp_Full.sql)