source /scripts/variables

$(mysqladmin -u root -p"{{ mysql_root_password }}" flush-logs)
flushLog=$(ls /var/log/mysql | grep mysql-bin.0 | tail -n 2 | head -1)
lastBackup=$(ls -t /backupsUbuntu/$year/$month/$week | head -1)
gzip -d /backupsUbuntu/$year/$month/$week/$lastBackup
difference=$(find /var/www/html -type f -newer /backupsUbuntu/$year/$month/$week/$lastBackup -print0 | tar -cf /backupsUbuntu/$year/$month/$week/$time.tar -T - /var/log/mysql/$flushLog)

exist=$(ls /backupsUbuntu/$year/$month/$week | grep $time.tar.gz)
if [ $exist != null ]
then
  bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/$time.tar.gz /backupsUbuntu/$year/$month/$week/$time.tar.gz
else
  gzip /backupsUbuntu/$year/$month/$week/$time.tar
  
  bash /scripts/ftp.bash /backupsUbuntu/$year/$month/$week/$time.tar.gz /backupsUbuntu/$year/$month/$week/$time.tar.gz
fi

$difference
$lastBackup
